body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-template-rows: masonry;
  gap: 16px;
  padding: 16px;
}

.card {
  background-color: #f7efd2;
  border: 3px dotted #cd8b62;
  border-radius: 30px;
  padding: 16px;
  text-align: center;
  height: 500px;
}

.card img {
  width: 100%;
  border-radius: 30px;
}

.grid-container > .card:nth-child(even) {
  margin-top: 30px; /* Adjust the margin-top value as needed */
}

/* this is how you can adjust the cards style */
.card-container {
  font-style: italic;
  color: #555;
}

.card-container p .first-word {
  font-weight: bold;
}