*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', 'sans-serif';
    box-sizing: border-box;
}

.container {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(228, 103, 19, 0.8), rgba(0,0,50,0.8)), url(../img/image11.jpeg);
    background-position: center;
    background-size: cover;
    position: relative;
}

.form-box {
    width: 90%;
    max-width: 450px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: #fff;
    padding: 50px 60px 70px;
    text-align: center;
}

/* Navigation Bar Styles */
nav {
    background-color: #333; /* Dark background color */
    overflow: hidden; /* Ensures the nav content is in line */
}

nav ul {
    list-style-type: none; /* Removes the default list styling */
    padding: 0; /* Removes the default padding */
    margin: 0; /* Removes the default margin */
}

nav ul li {
    float: left; /* Positions the navigation items horizontally */
}

nav ul li a {
    display: block; /* Makes the entire area clickable, not just the text */
    color: white; /* Text color */
    text-align: center; /* Centers the text */
    padding: 14px 20px; /* Top and bottom padding, left and right padding */
    text-decoration: none; /* Removes the underline from links */
    font-family: Arial, sans-serif; /* Font style */
}

nav ul li a:hover {
    background-color: #ddd; /* Color change on hover */
    color: black; /* Text color change on hover */
}

/* Responsive design: Stacks the nav items vertically on smaller screens */
@media screen and (max-width: 600px) {
    nav ul li {
        float: none;
    }
}